<div class="container">
    <h3>Image gallery</h3>

    <img src="data:image/jpeg;base64,{{image}}" class="img-thumbnail">
    <form action="/uploads/delete/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger mt-5 mb-5">Delete picture</button>
    </form>

</div>